<div class='is-page-number'><span>1</span></div>
<section id='about-me' class='about-me'>
    <div class='about-me__box margin-left-1 margin-right-1'>
        <h1 class="font-a margin-bottom-3 is-size-2">About</h1>
        <div class='columns'>
            <div class='column is-6'>
                <div class='about-me__content content font-a is-size-4'>
                    <p>I'm originally from <b>Melbourne, Australia</b> where I worked in the web development industry for 6 years.</p>
                </div>
            </div>
            <div class='column is-6'>
                <div class='about-me__content content font-a is-size-4'>
                    <p><b>I'm now travelling the UK and Ireland to work</b> and absorb different surroundings.</p>
                </div>
            </div>
        </div>
        <hr />
        <div class='columns'>
            <div class='column is-4'>
                <div class='about-me__content content font-b is-size-5'>
                    <p class='is-marginless'><span class="icon"><i class="fab fa-laravel fa-lg"></i></span>
                    <p>I love been building <b>RESTful API's</b> built on <b>MVC Frameworks.</b></p>
                </div>
            </div>
            <div class='column is-4'>
                <div class='about-me__content content font-b is-size-5'>
                    <p class='is-marginless'><span class="icon"><i class="fab fa-vuejs fa-lg"></i></span>
                    <p>I use VueJS to create <b>Reactive Frontend's.</b></p>
                </div>
            </div>
            <div class='column is-4'>
                <div class='about-me__content content font-b is-size-5'>
                    <p class='is-marginless'><span class="icon"><i class="fab fa-wordpress fa-lg"></i></span>
                    <p>And I've built countless website and eccomerce solutions using <b>WordPress themes and custom plugins.</b></p>
                </div>
            </div>
        </div>
        <hr />
        <div class='columns'>
            <div class='column is-4'>
                <div class='about-me__content content font-b is-size-5'>
                    <h2 class='is-size-5'>Frontend</h2>
                    <ul>
                        <li>HTML5</li>
                        <li>Vue JS / jQuery</li>
                        <li>Javascript ES6</li>
                        <li>CSS3 / SCSS / Bulma</li>
                        <li>NPM / <u title="Amateur">Webpack</u></li>
                    </ul>
                </div>
            </div>
            <div class='column is-4'>
                <div class='about-me__content content font-b is-size-5'>
                    <h2 class='is-size-5'>Backend</h2>
                    <ul>
                        <li>MySQL</li>
                        <li>PHP5 / Python</li>
                        <li>Laravel / Code Igniter</li>
                        <li>Composer</li>
                        <li><u title="Amateur">Docker</u> / AWS</li>
                    </ul>
                </div>
            </div>
            <div class='column is-4'>
                <div class='about-me__content content font-b is-size-5'>
                    <h2 class='is-size-5'>Everything Else</h2>
                    <ul>
                        <li>GIT / BitBucket</li>
                        <li>MailChimp / Campaign Monitor</li>
                        <li><u title="This sites built with Jekyll :)">Jekyll</u> Static Site Generation</li>
                        <li>Mac / Windows / Elementry</li>
                        <li>Sublime / Slack / Todoist</li>
                        <li>Microsoft Office / Adobe Suite</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
