<section class='home-intro'>
    <div class='home-intro__first'>
        <div class='margin-right-1 margin-top-1 has-text-right'><img src='assets/images/logo.svg' style='width: 200px;'/></div>
    </div>
    <div class='home-intro__box margin-left-1'>
        <h1 class="font-a margin-bottom-3">Hello,<br />I'm Gareth</h1>
        <div class='font-b home-intro__content margin-bottom-3'>
            <div class='content'>
                <p>I'm a developer from Melbourne, Australia. I've been working in the industry since 2012. I build websites, applications and video games.</p>
            </div>
        </div>
        <div class='buttons'>
            <a href='#about-me' class='button'>About Me</a>
            <a href='#experience' class='button'>Experience</a>
            <a href='#find-out-more' class='button'>Find Out More</a>
        </div>
    </div>
    <div class='home-intro__last'></div>
</section>
