<section class='home-intro'>
    <div class='home-intro__first'>
        <div class='home-intro__logo'><img src='assets/images/logo.svg'/></div>
        <div class="home-intro__buttons buttons">
            <a class='has-text-grey-darker' href="https://linkedin.com/in/gareth-somers/"><span class="icon is-medium"><i class="fab fa-linkedin fa-lg"></i></span></a><!--
         --><a class='has-text-grey-darker' href="https://www.instagram.com/thatch.house"><span class="icon is-medium"><i class="fab fa-instagram fa-lg"></i></span></a><!--
         --><a class='has-text-grey-darker' href="https://bitbucket.org/garethsomers"><span class="icon is-medium"><i class="fab fa-bitbucket fa-lg"></i></span></a><!--
         --><a class='has-text-grey-darker' href="https://github.com/ThatchHouse"><span class="icon is-medium"><i class="fab fa-github fa-lg"></i></span></a><!--
         --><a class='has-text-grey-darker' href="https://www.facebook.com/thatchdothouse"><span class="icon is-medium"><i class="fab fa-facebook fa-lg"></i></span></a></p>
        </div>
    </div>
    <div class='home-intro__box margin-left-1 margin-right-1'>
        <h1 class="font-a margin-bottom-3">Hello,<br />I'm Gareth</h1>
        <div class='columns margin-bottom-1'>
            <div class='column' style='max-width:400px'>
                <div class='about-me__content content font-a is-size-5'>
                    <p>I'm a web developer from <b>Melbourne, Australia</b> where I worked professionally for 6 years.</p>
                </div>
            </div>
            <div class='column' style='max-width:400px'>
                <div class='about-me__content content font-a is-size-5'>
                    <p>I'm now living in the <b>United Kingdom</b> and looking for exciting opportunities.</p>
                </div>
            </div>
        </div>
        <div class='buttons'>
            <a onclick='try { document.querySelector(event.target.attributes.href.value).scrollIntoView({ behavior: "smooth" }); event.preventDefault(); } catch (e) {}' href='#skills-and-technologies' class='button is-primary'>Skills and Technology</a>
            <a onclick='try { document.querySelector(event.target.attributes.href.value).scrollIntoView({ behavior: "smooth" }); event.preventDefault(); } catch (e) {}' href='#find-out-more' class='button is-warning'>Find Out More</a>
        </div>
    </div>
    <div class='home-intro__last'></div>
</section>
