<section class='home-intro'>
    <div class='home-intro__first'>
        <div class='margin-right-1 margin-top-1 has-text-right'><img src='assets/images/logo.svg' style='width: 200px;'/></div>
    </div>
    <div class='home-intro__box margin-left-1'>
        <h1 class="font-a margin-bottom-3">Hello,<br />I'm Gareth</h1>
        <div class='columns margin-bottom-1'>
            <div class='column' style='max-width:400px'>
                <div class='about-me__content content font-a is-size-5'>
                    <p>I'm a web developer from <b>Melbourne, Australia</b> where I have worked in industry for 6 years.</p>
                </div>
            </div>
            <div class='column' style='max-width:400px'>
                <div class='about-me__content content font-a is-size-5'>
                    <p>I'm now travelling to <b>Ireland and the United Kingdom to work</b> and absorb different surroundings.</p>
                </div>
            </div>
        </div>
        <div class='buttons'>
            <a href='#about-me' class='button'>Skills and Technology</a>
            <a href='#experience' class='button'>Experience</a>
            <a href='#find-out-more' class='button'>Find Out More</a>
        </div>
    </div>
    <div class='home-intro__last'></div>
</section>
