.find-out-more
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height:100vh;
    &__content {
        max-width:300px;
    }
    &__form {
        max-width:500px;
    }
    &__buttons {
        a:hover {
            color: $yellow !important;
        }
    }
}
