$aow: 24rem;
$aoh: 24rem;
$atw: 12rem;
$ath: 28rem;
.home-intro
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include tablet {
        min-height:100vh;
    }

    &__first {
        img {
            display:block;
            @include tablet {
                margin-left:auto;
            }
        }
        @include tablet {
            // height: calc(100px + 6rem);
        }
        @include mobile {
            margin-bottom:$size-1;
        }
    }
    &__logo {
        margin: $size-1 $size-1 $size-5 $size-1;
        img {
            width: 200px;
        }
        @include mobile {
            margin-top: -($logoHeight/2)
        }
    }
    &__buttons {
        width: 200px;
        margin-left:auto;
        justify-content:center;
        margin: $size-5 $size-1 $size-1 $size-1;
        @include tablet {
            margin-left: auto;
        }
        a:hover {
            color: $yellow !important;
        }
    }
    &__box {
        position:relative;
        display: flex;
        flex:1;
        flex-direction: column;
        justify-content: center;

        /*
        &::before {
            position: absolute;
            display: block;
            content: '';
            width: calc(100% + #{$aow});
            height: calc(100% + #{$aoh});
            border: 10px solid $red;
            left: -$aow;
            top: -$aoh / 2;
            transform: translate(-2rem, -2rem);
        }
        &::after {
            position: absolute;
            display: block;
            content: '';
            width: calc(100% + #{$atw});
            height: calc(100% + #{$ath});
            border: 10px solid $blue;
            left: -$atw;
            top: -$ath / 2;
            transform: translate(+2rem, +2rem);
        } */
    }
    &__content {
        max-width:340px;
    }
    &__last {
        height: calc(100px + 6rem);
        margin-bottom:1px solid $grey;
        @extend .is-hidden-mobile;
    }
}

