.page
{
    &__left {
        position:relative;
        > div {
            height:100vh;
            background-image: url('../images/hero.jpg');
            background-size: cover;
            background-position: center center;
        }
    }
    &__right {
        z-index:5;
        max-height:100vh;
        overflow-y:scroll;
    }
}
