.is-page-number {
    position: relative;
    height:0px;
    top:10px;
    @include mobile {
        margin-bottom:6rem;
        margin-top:6rem;
    }
    &::before {
        display: block;
        height:2px;
        width: calc(100% - #{$size-1*2});
        height:1px;
        content: '';
        margin:0px auto;
        background: -moz-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 39%, rgba(0,0,0,0) 100%);
        background: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%,rgba(0,0,0,1) 39%,rgba(0,0,0,0) 100%);
        background: linear-gradient(to right, rgba(0,0,0,1) 0%,rgba(0,0,0,1) 39%,rgba(0,0,0,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=1 );
        @include tablet {
            position: absolute;
            left:$size-1;
            bottom:0px;
        }
    }
    > span {
        margin-left:6rem;
        top:0px;
        position:absolute;
        background-color:white;
        border-radius:20px;
        height:20px;
        width:20px;
        line-height:18px;
        top:-10px;
        border:1px solid black;
        text-align:center;
        font-size:10px;
    }
}
